@use '../../src/variables' as vars;

.grid-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.borders {
    position: relative;
    width: 100%;
    height: 100%;
    border-left: 1px solid vars.$dark-blue-10;
    border-right: 1px solid vars.$dark-blue-10;
}

.line-vert {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100vh;
    border-left: 1px solid vars.$dark-blue-10;
}

.line-hor {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    border-top: 1px solid vars.$dark-blue-10;
}